@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Domine&display=swap");

/*------------------- import Files -------------------*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*------------------- skeleton -------------------*/

* {
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 113%;
    height: auto;
}

:focus {
    outline: 0;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
}

.layout_padding_2 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.light_silver {
    background: #f9f9f9;
}

.theme_bg {
    background: #38c8a8;
}

.margin_top_30 {
    margin-top: 30px !important;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

/* heading section */


/*-- header area --*/

.header {
    background: #466e39;
    width: 100%;
    padding: 40px 40px 40px 40px;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}

.banner_main {
    background: #466e39;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 90px;
}

.text-bg h1 {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 23px;
    font-weight: bold;
    font-family: Poppins;
    text-shadow: #000000 1px 0 10px;
}

.text-bg span {
    color: #fdd430;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    font-family: Poppins;
    text-shadow: #000000 1px 0 10px;
}

.text-bg p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding: 40px 0;
    font-family: Arvo;
    text-shadow: #000000 1px 0 5px;
}

.text-bg a {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0px 20px rgb(255, 250, 95);
    max-width: 190px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgb(163, 255, 117) 0%, rgb(255, 241, 40) 100%);
}

.text-bg a:hover {
    color: rgb(0, 0, 0);
    background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
    animation: slidebg 5s linear infinite;
}
@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.text-img figure {
    margin: 0px;
}

.text-img figure img {
    width: 100%;
    margin-left: 65px;
}

.titlepage {
    text-align: center;
    padding-bottom: 65px;
}

.titlepage h2 {
    text-align: center;
    font-size: 35px;
    color: #1f1e3e;
    line-height: 40px;
    font-weight: bold;
    padding: 0px;
    font-family: Poppins;
}

/** Paragraph Generating Section **/

.generating {
    padding-top: 45px;
    background: #fafafa;
}

.formsection {
    text-align: center;
}

.paragraph-number {
    margin: 0 0px 23px 16px;
    width: 13%;
    height: 40px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out 0s;
    text-align: center;
}

.generate-button {
    margin: 0 0px 23px 38px;
    width: 13%;
    height: 40px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(38, 251, 255) 0%, rgb(148, 255, 40) 100%);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    font-weight: bold;
}

.generating figure {
    margin: 0;
}

.generating p {
    color: #000;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 37px 50px;
}

.generating a {
    font-size: 16px;
    background-color: #000;
    color: #fff;
    padding: 10px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 10px;
}

.generating a:hover {
    background-color: #0c0f38;
    color: #fff;
}

.generatorimage {
    float: left;
    max-width: 40%;
}
/** end Generating section **/

/** footer **/

.footer {
    font-family: Poppins;
    background: #0c0f38;
}

.cont {
    text-align: center;
    margin-top: 31%;
}

.cont h3 {
    color: #fff;
    font-size: 45px;
    line-height: 30px;
    font-weight: bold;
    padding: 30px 0px 0px 0px;
}

.cont span {
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    padding: 30px 0px 30px 0px;
    display: inline-block;
    font-weight: bold;
}

.cont p {
    color: #fff;
    font-size: 17px;
    line-height: 30px;
    padding: 0 130px;
    padding-bottom: 60px;
}

.copyright {
    padding: 20px 0px;
    background: #466e39;
}

.copyright p {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    font-family: Arvo;
}

.copyright a {
    color: #ffffff;
}

.copyright i:hover {
    color: #0c0f38;
    font-style: bold;
}

/** end footer **/
